@import "~antd/dist/antd.css";

.App {
  text-align: center;
  background-color: #fff;
}

.App-header {
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
}

.App-header > h1 {
  font-family: Georgia, serif
}

.App-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.App-add-policy-input {
}

.ant-form-item {
    text-align: left;
}

.App-add-policy-button {
  width: 100%;
}

.App-policies {
}

.App-policy {
  /* position: relative; */
  text-align: left;
  margin-bottom: 16px;
}

.App-policy .ant-card-head-title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
}

.App-policy .ant-card-body small {
    font-size: 50%;
}

.App-policy .ant-card-head {
    border-bottom: none;
}

.App-policy-delete {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
